.bubble, .mediumBubble, .largeBubble, .workBubble, .mediumWorkBubble, .largeWorkBubble  {
  background-color: #0184a8;
  font-family: 'Open Sans';
  letter-spacing: .05em;
  border-radius: 20px;
  color: white;
  margin-right: 8px;
  margin-bottom: 3px;
  width: 70px;
  height: 30px;
  font-size: .8em;
}

.mediumBubble, .mediumWorkBubble {
  width: 90px;
  height: 30px;
}

.largeBubble, .largeWorkBubble {
  height: 30px;
  width: 110px;
}

.workBubble, .mediumWorkBubble, .largeWorkBubble {
  background-color: #4ca8c1;
}

@media only screen and (max-width: 950px) {
  .bubble, .mediumBubble, .largeBubble, .workBubble, .mediumWorkBubble, .largeWorkBubble {
    width: 80px;
  }

  .mediumBubble, .mediumWorkBubble {
    width: 100px;
  }

  .largeBubble, .largeWorkBubble {
    width: 120px;
  }
}

@media only screen and (max-device-width: 628px) {
  .bubble, .mediumBubble, .largeBubble, .workBubble, .mediumWorkBubble, .largeWorkBubble {
    width: 80px;
  }

  .mediumBubble, .mediumWorkBubble {
    width: 100px;
  }

  .largeBubble, .largeWorkBubble {
    width: 120px;
  }
}