.about, .work, .education, .contact {
  font-family: 'Open Sans', sans-serif;
}

/************************

CSS for the ABOUT section

*************************/

.about {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #081c3f;
  color: white;
  margin-top: 100px;
}

.aboutContainer {
  position: absolute;
  height: 30%;
  padding: 60px;
  padding-left: 20%;
  line-height: 50px;
}

.initialLine {
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  color: var(--white);
}

.iconRow {
  margin-top: 5px;
  margin-bottom: 50px;
}

.iconRow a {
  margin: 10px;
}

.iconRow a:first-child {
  margin: 0;
  margin-right: 10px;
}

p a {
  text-decoration: underline;
}

a:hover {
  opacity: .7;
}

/************************

CSS for the EDUCATION section

*************************/

.education {
  height: auto;
  width: auto;
  background-color: white;
}

.educationContainer {
  margin: 48px 25%;
  line-height: 25px;
}


.educationContainer h2 {
  margin-bottom: 48px;
  text-align: center;
  font-weight: bold;
  letter-spacing: .05em;
  color: #081c3f;
}

.educationContainer h3 {
  margin-bottom: 12px;
  margin-top: 25px;
  color: #081c3f;
}

.educationContainer h4 {
  font-weight: normal;
  margin-bottom: 12px;
  color: #0184a8;
}

.educationContainer p {
  font-size: .9em;
  margin-bottom: 20px
}

/************************

CSS for the WORK section

*************************/

.work {
  height: auto;
  width: auto;
  background-color: #0184a8;
  padding-bottom: 20px;
}

.workContainer {
  margin: 0 25%;
  line-height: 25px;
  color: white;
}

.workContainer h2 {
  padding-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: bold;
  letter-spacing: .05em;
  color: #94cbda;
}

.workContainer h3 {
  font-size: 1.5em;
  margin-bottom: 12px;
  margin-top: 25px;
  font-weight: normal;
  color: white;
}

.workContainer a h3:hover {
  color: lightblue;
}

.workContainer h4 {
  font-weight: normal;
  margin-bottom: 12px;
  color: #94cbda;
}


.workContainer p {
  font-size: .9em;
  margin-bottom: 20px
}

.appSection {
  border-bottom: 1px solid rgba(255,255,255,0.22);
  padding-bottom: 40px;
  margin-bottom: 30px;
}

/************************

CSS for the CONTACT section

*************************/

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #081c3f;
  color: white;
  height: auto;
  width: auto;
  padding-bottom: 20px;
}

.contactContainer h2 {
  padding-top: 48px;
  margin-bottom: 23px;
  opacity: .58;
  letter-spacing: .05em;
}

.contactContainer p {
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  font-size: 1.2em;
}

.me {
  width: 50%;
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.myPic {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 950px) {
  .iconRow a img {
    width: 40px;
  }

  .about, .work, .education, .contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
  }

  .educationContainer, .workContainer, .contactContainer {
    margin: 48px 5%;
  }

  .aboutContainer {
    padding: 20px;
  }

  .about {
    height: 300px;
    margin-top: 140px;
  }

  .initialLine {
    font-size: 30px;
  }
}



@media only screen and (max-device-width: 628px) {
  .iconRow a {
    height: 40px;
    width: 40px;
  }

  .about {
    height: 300px;
    margin-top: 140px;
  }

  .about, .work, .education, .contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
  }

  .educationContainer, .workContainer, .contactContainer {
    margin: 48px 5%;
  }

  .about {
    height: 300px;
    margin-top: 80px;
  }
  .aboutContainer {
    padding: 20px;
  }
}