.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #081c3f;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  z-index: 10;
  letter-spacing: .1em;
}

.chapters {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chapters a {
  color: #838d9f;
}

.chapters a:hover {
  color: white;
}

.chapters a:active {
  color: lightblue;
}

.name {
  width: 33%;
  text-align: center;
  font-weight: normal;
}

.contactLink {
  display: table-cell;
  width: 131px;
  height: 47px;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  color: #081c3f;
  vertical-align: middle;
}

.contactLink:hover {
  background-color: #838d9f;
  color: white;
}

a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

@media only screen and (max-width: 950px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .chapters {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px; 
  }

  .name {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 3em;
  }
}

@media only screen and (max-device-width: 950px) {
    .header {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 30px;
  }

  .chapters {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px; 
  }

  .name {
    width: 100%;
    padding-top: 10px;
  }
}
