.container {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.contentContainer {
  margin-top: 100px;
}

.App-footer {  
  position: relative;
  top:100px;
  font-family: 'Open Sans', sans-serif;
  background-color: #081c3f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 0;
  margin: 0;
}

